<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tzj.tzjcustomview">

    <!--权限功能，在AIDL中进行权限验证-->
    <!--声明所需权限-->
    <permission
        android:name="com.tzj.tzjcustomview.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <!--设置拥有对应权限-->
    <uses-permission android:name="com.tzj.tzjcustomview.permission.ACCESS_BOOK_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainActivityStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".XiuActivity">
            <intent-filter>
                <!--隐式调用，只要匹配action中的一个就行了-->
                <action android:name="xiu" />
                <action android:name="xiu2" />
                <!--要能接收隐式调用，必须设置default的category-->
                <category android:name="android.intent.category.DEFAULT" />
                <!--下面这个可设置可不设置，因为已经匹配了default-->
                <category android:name="xiucategory" />
                <!--没有指定URI，系统会默认content或file-->
                <data android:mimeType="image/*" />
                <data
                    android:mimeType="video/*"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".GuaActivity" />
        <activity android:name=".OtherActivity" />
        <activity android:name=".ExchangeActivity" />
        <activity android:name=".SwipeCardActivity" />
        <activity android:name=".StudyActivity" />
        <activity android:name=".TabVpActivity" />
        <activity android:name=".TabVpDetailActivity" />
        <activity android:name=".ViewDragHelperActivity" />
        <activity android:name=".RvGalleryActivity" />
        <activity android:name=".RvGalleryWithScaleActivity" />
        <activity android:name=".InterceptTestActivity" />
        <activity android:name=".ScrollTestActivity" />
        <activity android:name=".ClockActivity" />
        <activity android:name=".MaterialActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".TweenAnimationActivity" />
        <activity android:name=".PropertyAnimatorActivity" />
        <activity android:name=".AnimationMenuActivity" />
        <activity android:name=".puzzle.PuzzleActivity" />
        <activity android:name=".intercepttest.solvexy.SolveXYActivity" />
        <activity android:name=".databinding.DataBindingTestActivity" />
        <activity android:name=".verificationview.VerificationActivity" />

        <service
            android:name=".aidl.TestService"
            android:process=":remote" />
        <activity android:name=".aidl.TestAidlActivity" />

        <!--桌面小部件-->
        <receiver android:name=".remoteviews.MyAppWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />
            <intent-filter>
                <!--这个action用于识别小部件的单击事件-->
                <action android:name="clock" />
                <!--这个是系统规范，必须存在-->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
